@page "/"
@inject HttpClient Http
@using System.Linq

<h1>Cryptos</h1>

<p>This component demonstrates fetching data from the cryto API.</p>

<style>
    .scroll {
        overflow:scroll;
        height: 100vh;
    }
</style>

<div class="input-group mb-3">
    <div class="input-group-prepend pr-3">
        <label class="input-group-text">Sort By: </label>
        <select @bind="SelectedSort">
            <option value="rankAsc">Rank - Ascending</option>
            <option value="rankDesc">Rank - Descending</option>
            <option value="idAsc">ID - Ascending</option>
            <option value="idDesc">ID - Descending</option>
            <option value="nameAsc">Name - Ascending</option>
            <option value="nameDesc">Name - Descending</option>
            <option value="priceAsc">Price - Ascending</option>
            <option value="priceDesc">Price - Descending</option>
        </select>
    </div>
    <div class="input-group-prepend">
        <label class="input-group-text">Filter: </label>
        <input class="form-control" placeholder="Search Name..." @oninput="OnSearchTextChange" />
    </div>
</div>

@if (cryptos == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="scroll">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Rank</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var crypto in filteredCryptos.data)
            {
                <tr>
                    <td>@crypto.id</td>
                    <td><NavLink href="/counter">@crypto.name</NavLink></td>
                    <td>@crypto.rank</td>
                    <td>$ @crypto.price_usd</td>
                </tr>
            }
            @foreach (var crypto in cryptos.data)
            {
                Console.WriteLine(crypto.name);
            }
        </tbody>
    </table>
</div>
}

@code {
    private Root cryptos;
    private Root filteredCryptos;
    private string selectedSort;
    public string SelectedSort
    {
        get { return selectedSort; }
        set
        {
            selectedSort = value;
            selectedSortDict[selectedSort]();
        }
    }
    Dictionary<string, Action> selectedSortDict;

    protected override async Task OnInitializedAsync()
    {
        cryptos = filteredCryptos = await Http.GetFromJsonAsync<Root>("https://api.coinlore.net/api/tickers/?start=0&limit=100");
        selectedSortDict = new Dictionary<string, Action>
        {
            ["idAsc"] = () => cryptos.data = cryptos.data.OrderBy(a => a.id.Length).ThenBy(a => a.id).ToList(),
            ["idDesc"] = () => cryptos.data = cryptos.data.OrderByDescending(a => a.id.Length).ThenBy(a => a.id).ToList(),
            ["nameAsc"] = () => cryptos.data = cryptos.data.OrderBy(a => a.name).ToList(),
            ["nameDesc"] = () => cryptos.data = cryptos.data.OrderByDescending(a => a.name).ToList(),
            ["rankAsc"] = () => cryptos.data = cryptos.data.OrderBy(a => a.rank).ToList(),
            ["rankDesc"] = () => cryptos.data = cryptos.data.OrderByDescending(a => a.rank).ToList(),
            ["priceAsc"] = () => cryptos.data = cryptos.data.OrderBy(a => decimal.Parse(a.price_usd)).ToList(),
            ["priceDesc"] = () => cryptos.data = cryptos.data.OrderByDescending(a => decimal.Parse(a.price_usd)).ToList(),
        };
    }

    public class Datum
    {
        public string id { get; set; }
        public string symbol { get; set; }
        public string name { get; set; }
        public string nameid { get; set; }
        public int rank { get; set; }
        public string price_usd { get; set; }
        public string percent_change_24h { get; set; }
        public string percent_change_1h { get; set; }
        public string percent_change_7d { get; set; }
        public string price_btc { get; set; }
        public string market_cap_usd { get; set; }
        public double volume24 { get; set; }
        public double volume24a { get; set; }
        public string csupply { get; set; }
        public string tsupply { get; set; }
        public string msupply { get; set; }
    }

    public class Info
    {
        public int coins_num { get; set; }
        public int time { get; set; }
    }

    public class Root
    {
        public List<Datum> data { get; set; }
        public Info info { get; set; }
    }

    private void OnSearchTextChange(ChangeEventArgs changeEventArgs)
    {
        string searchText = changeEventArgs.Value.ToString();

        filteredCryptos.data = cryptos.data.Where(a => a.name.Contains(searchText)).ToList();
    }
}
